body {
    margin: 0;
    padding: 0;
    background: #042317;
    font-family: Arial, sans-serif;
    color: white;
}

.topo h3 {
    color: #16ff81;
    margin: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
}

.texto h1 {
    font-size: 60px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}

.texto p {
    max-width: 500px;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 40px;
}

.botao {
    display: inline-block;
    background: #16ff81;
    color: black;
    text-decoration: none;
    padding: 18px 35px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.botao:hover {
    transform: scale(1.05);
}

.imagem-hero {
    width: 100%;
    border-radius: 12px;
}
.imagem img {
    width: 400px;
    border-radius: 12px;
    margin-right: 240px;
}
